/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
:root {
  --nav-padding: 14px 24px;
  --section-padding: 80px 24px;
  --color-1: #000;
  --color-2: #fff;
  --text-transform-title: uppercase;
}

.page {
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title-2 {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-transform: var(--text-transform-title);
}

.dimgray-color {
  color: dimgray;
}

.nobel-color {
  color: #999999;
}

/* Page header top */
.page-header__top {
  background-color: var(--color-1);
  display: flex;
  position: fixed;
  width: 100%;
}

.page-header__logo {
  color: var(--color-2);
  padding: var(--nav-padding);
  text-transform: var(--text-transform-title);
  transition: .3s;
}

.page-header__logo:visited {
  color: var(--color-2);
}

.page-header__logo:hover {
  background-color: #D0D0D0;
  color: #181818;
}

.page-header__list {
  display: flex;
}

.page-header__list-item {
  color: var(--color-2);
  display: flex;
  position: relative;
  transition: .3s;
}

.page-header__list-item:hover {
  background-color: #D0D0D0;
  color: #181818;
}

.page-header__list-link {
  position: relative;
  padding: var(--nav-padding);
  text-transform: var(--text-transform-title);
}

.page-header__sub-list {
  background-color: var(--color-2);
  box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, .35);
  display: none;
  position: absolute;
  top: 52px;
  width: 150px;
}

.sub-nav:hover .page-header__sub-list {
  display: block;
}

.page-header__sub-list-link {
  display: block;
  padding: 10px 18px;
}

.page-header__sub-list-link:hover {
  background-color: #D0D0D0;
}

.page-header__btn {
  border: none;
  cursor: pointer;
  outline: none;
  padding: var(--nav-padding);
}

.page-header__search {
  background-color: var(--color-1);
  color: var(--color-2);
  margin-left: auto;
  transition: .3s;
}

.page-header__search:hover {
  background-color: #e50000;
}

.page-header__mobile {
  background-color: var(--color-1);
  color: var(--color-2);
  display: none;
  transition: .3s;
}

.page-header__mobile:hover {
  background-color: #D0D0D0;
  color: #181818;
}

/* Page header main */
.page-header__slider {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-2);
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  padding: var(--section-padding);
  text-align: center;
}

.bg1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(images/bg-ny.jpg);
}

.bg2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(images/bg-chicago.jpg);
}

.bg3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(images/bg-la.jpg);
}

.hide {
  display: none;
}

.page-header__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.page-header__copy {
  font-size: 1.2rem;
}

/* Page main */
.page-main {
  flex: 1;
}

/* Page main band */
.page-main__band {
  background-color: var(--color-2);
  padding: var(--section-padding);
  text-align: center;
}

.page-main__band-title {
  color: var(--color-1);
}

.page-main__band-copy {
  max-width: 800px;
  margin: 20px auto 0;
  width: 100%;
}

.page-main__band-profiles {
  display: flex;
  gap: 80px;
  margin: 60px auto 0;
  max-width: 600px;
  width: 100%;
}

.page-main__band-photo {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
}

/* Page main tour */
.page-main__tour {
  background-color: var(--color-1);
  padding: var(--section-padding);
  text-align: center;
}

.page-main__tour-title {
  color: var(--color-2);
}

.page-main__tour-months {
  background-color: var(--color-2);
  margin: 50px auto 0;
  max-width: 800px;
  width: 100%;
}

.page-main__tour-month {
  display: flex;
  padding: 10px 15px;
}

.page-main__tour-month:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
}

.ticket-no {
  background-color: #e50000;
  color: var(--color-2);
  margin-left: 25px;
  padding: 2px 10px;
}

.ticket-yes {
  background-color: var(--color-1);
  border-radius: 50%;
  color: var(--color-2);
  margin-left: auto;
  padding: 2px 10px;
}

.page-main__tour-dates {
  display: flex;
  gap: 15px;
  margin: 40px auto 0;
  max-width: 800px;
  width: 100%;
}

.page-main__tour-card-image {
  display: flex;
}

.page-main__tour-card-image:hover {
  opacity: .6;
  transition: .3s;
}

.page-main__tour-card-main {
  background-color: var(--color-2);
  padding: 20px;
  text-align: left;
}

.page-main__tour-card-title {
  color: var(--color-1);
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.page-main__tour-card-copy {
  margin-top: 15px;
}

.page-main__tour-card-btn {
  background-color: var(--color-1);
  border: 1px solid transparent;
  color: var(--color-2);
  cursor: pointer;
  margin-top: 15px;
  padding: 8px 14px;
  text-transform: capitalize;
  transition: .3s;
}

.page-main__tour-card-btn:hover {
  background-color: #D0D0D0;
  color: #181818;
}

/* Page main contact */
.page-main__contact-title {
  color: var(--color-1)
}

.page-main__contact-main {
  background-color: var(--color-2);
  padding: var(--section-padding);
  text-align: center;
}

.page-main__contact-stack {
  display: flex;
  margin: 50px auto 0;
  max-width: 800px;
  width: 100%;
}

.page-main__contact-info {
  align-items: center;
  display: flex;
  flex: 50%;
  text-align: left;
}

.page-main__contact-icon {
  margin-right: 15px;
}

.page-main__contact-row:not(:last-child) {
  margin-bottom: 15px;
}

.page-main__contact-form {
  flex: 50%;
  text-align: left;
}

.page-main__contact-label {
  display: block;
  margin-bottom: 3px;
}

.page-main__contact-input {
  display: block;
  margin-bottom: 15px;
  padding: 12px 10px;
  width: 100%;
}

.page-main__contact-textarea {
  height: 130px;
  padding: 8px 10px;
  resize: vertical;
  width: 100%;
}

.page-main__contact-btn {
  background-color: var(--color-1);
  border: 1px solid transparent;
  color: var(--color-2);
  cursor: pointer;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  padding: 8px 14px;
  text-transform: var(--text-transform-title);
  transition: .4s;
}

.page-main__contact-btn:hover {
  background-color: #D0D0D0;
  color: #181818;
}

.page-main__contact-map {
  border: 0;
  height: 800px;
  width: 100%;
}

/* Page footer */
.page-footer {
  background-color: var(--color-2);
  padding: var(--section-padding);
  text-align: center;
}

.page-footer__icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.page-footer__icon {
  font-size: 1.5rem;
}

.page-footer__icon:hover {
  color: darkgray;
}

@media (max-width: 767px) {
  :root {
  --nav-padding: 14px 20px;
  --section-padding: 80px 20px;
}
  
  .page-header__top {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    order: 1;
  }
  
  .page-header__nav,
  .page-header__search {
    display: none;
  }

  .page-header__nav {
    flex: 100%;
    order: 3;
  }

  .page-header__list {
    flex: 100%;
    flex-wrap: wrap;
}

  .page-header__list-item,
  .page-header__list-link {
    flex: 100%;
  }

  .active {
    display: flex;
  }

  .page-header__mobile {
    display: block;
    order: 2;
  }

  .page-header__sub-list {
    width: 100%;
  }

  .page-header__sub-list-link {
    padding: 10px 20px;
  }
  
  .page-header__slider {
    height: 70vh;
  }

  .bg1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(images/bg-ny.jpg);
  }

  .bg2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(images/bg-chicago.jpg);
  }
  
  .bg3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(images/bg-la.jpg);
  }

  .page-header__title,
  .page-header__copy {
    display: none;
  }

  .page-main__band-copy {
    text-align: left;
  }

  .page-main__band-profiles {
    flex-direction: column;
    gap: 30px;
  }
  
  .page-main__tour-dates {
    flex-direction: column;
    gap: 20px;
  }

  .page-main__tour-card-image {
    width: 100%;
  }

  .page-main__contact-stack {
    flex-direction: column;
    gap: 40px;
  }

  .page-main__contact-map {
    display: none;
  }

  .page-footer {
    background-color: #F9F9F9;
  }
}